In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import cross_val_score,train_test_split, KFold, GroupKFold

In [3]:
path = '../../dados/procucao_gado_MS.csv'
df = pd.read_csv(path, sep=';')

In [4]:
df.sample(3)

,tipificacao_1,tipificacao_2,tipificacao_3,maturidade,acabamento,peso,classificacao_estabelecimento,outros_incentivos,pratica_recuperacao_pastagem,fertiirrigacao,...,cnt1m_cl_ituinst,cnt3m_cl_ituinst,cnt6m_cl_ituinst,cnt12m_cl_ituinst,ano,categoria,classificacao,longitude,latitude,mes
816061,0,1,0,2,3,308.8,21.0,0,1,0,...,0.2258,0.4516,0.6066,0.5273,2018,2,1,-54.754906,-17.581355,11
574173,0,0,1,1,3,234.2,21.0,0,0,0,...,0.8387,0.7634,0.5519,0.4454,2018,1,1,-54.842250,-18.916590,7
917019,0,1,0,4,3,242.8,21.0,0,0,0,...,0.0667,0.1222,0.3257,0.2508,2018,3,1,-56.390198,-20.239333,12

In [5]:
print('A base de dados apresenta {} registros e {} características.'.format(df.shape[0], df.shape[1]))

A base de dados apresenta 960939 registros e 53 características.

In [7]:
y = df['peso']
# Retirar a variável alvo e as variáveis obtidas após o abate 
X = df.drop(['categoria','acabamento', 'maturidade', 'classificacao','categoria', 'ano'],axis=1)

In [8]:
SEED = 42
kfolds = KFold(n_splits=5, shuffle=True, random_state=SEED)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=SEED)

In [10]:
df_y_train = pd.DataFrame(y_train)
df_y_test = pd.DataFrame(y_test)

In [12]:
df.peso.describe()

count    960939.000000
mean        267.488839
std          44.371260
min         159.600000
25%         237.000000
50%         271.800000
75%         298.600000
max         376.000000
Name: peso, dtype: float64

In [13]:
df_y_train.describe()

                peso
count  672657.000000
mean      267.502798
std        44.409811
min       159.600000
25%       237.000000
50%       271.800000
75%       298.600000
max       376.000000

## Esportando a amostra de treino

In [29]:
df_train = X_train.join(df_y_train, how = 'left', lsuffix = '_left')

In [38]:
df_train.to_csv("df_train_regression.csv", sep=';', index=False)

## Exportando a amostra de teste

In [36]:
df_test = X_test.join(df_y_test, how = 'left', lsuffix = '_left')

In [39]:
df_test.to_csv("df_test_regression.csv", sep=';', index=False)